@page
@model Lab3.Pages_Hike.DetailsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<HikeUser> UserManager

<div class="hike-details-page">
    <table id="hikedet">
        <td>
            <div class="hike-details">
                <dd class="hike-details">
                    <label hidden>RouteId:</label>
                    <label hidden id="routeId">@Html.DisplayFor(model => model.Hike.Route.RouteId)</label>
                    <label>Hike name:</label>
                    @Html.DisplayFor(model => model.Hike.Name)
                    <br>
                    <label>Route name:</label>
                    @Html.DisplayFor(model => model.Hike.Route.Name)
                    <br>
                    <label>Distance:</label>
                    @Html.DisplayFor(model => model.Hike.Route.Distance)
                    <br>
                    <label>Difficulty:</label>
                    @Html.DisplayFor(model => model.Hike.Route.Difficulty)
                    <br>
                </dd>
                <textarea cols="30" rows="10" class="details-description"
                    readonly>@Html.DisplayFor(model => model.Hike.Description)</textarea>
            </div>
        </td>
        <td>
            <div class="gal-border">
                <div class="galcontainer">
                    @foreach (var item in Model.Images)
                    {
                        <div class="mySlides">
                            <img src="@Url.Content(@item.File)" style="width:100%">
                        </div>
                    }
                    <div class="photo-arrows">
                        <a class="prev" id="photo-previous" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="nexi" id="photo-next" onclick="plusSlides(1)">&#10095;</a>
                    </div>

                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>
                    <div class="grow">
                        @foreach (var item in Model.Images)
                        {
                            <div class="column">
                                <img class="demo cursor" alt="@item.Description">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </td>
    </table>



    <script src="~/js/Slider.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />

    <div id="map" class="details-map"></div>
    <script type="text/javascript" src="~/js/HikeInfo.js"></script>

    @* </dl> *@
</div>
<div id="users" class="user-list">
    <table class="table" id="todoTable">
        <thead>
            <tr>List of Signed Up Hikers</tr>
            <tr>
                <th>
                    User Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Hiker)
            {
                <tr id="userHover" class="trl">
                    @* <td>
                        @Html.DisplayFor(modelItem => item.HikeId)
                        </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.HikeUser.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>

        @if (UserManager.GetUserName(User) != null)
        {
            <a asp-page="../Signup/Add" asp-route-id="@Model.Hike.HikeId">Sign Up for This Hike</a> <label>|</label>
            <a asp-page="./Edit" asp-route-id="@Model.Hike.HikeId">Edit</a> <label>|</label>
        }


        <a asp-page="./Index">Back to List</a>
    </div>
</div>
