@page
@model Lab3.Pages_Hike.DetailsModel
@*
    @{
    ViewData["Title"] = "Details";
    } *@
<h1>Hike Details</h1>
<table id="hikedet">
    <td width="40%">
    @* <dl class="row"> *@

    <dd class="col-sm-10">
        <label>Hike name:</label>
        @Html.DisplayFor(model => model.Hike.Name)
    </dd>

    <dd class="col-sm-10">
        <label hidden>RouteId:</label>
        <label hidden id="routeId">@Html.DisplayFor(model => model.Hike.Route.RouteId)</label>
        <br hidden>
        <label>Route name:</label>
        @Html.DisplayFor(model => model.Hike.Route.Name)
        <br>
        <label>Distance:</label>
        @Html.DisplayFor(model => model.Hike.Route.Distance)
        <br>
        <label>Difficulty:</label>
        @Html.DisplayFor(model => model.Hike.Route.Difficulty)
        <br>
    </dd>
        <br>
        <textarea cols="30" rows="10" class="details-description" readonly>@Html.DisplayFor(model => model.Hike.Description)   
            </textarea>
    </td>
    <td width="60%">
        <div class="galcontainer">
        @foreach (var item in Model.Images)
        {
            <div class="mySlides">
                @* <div class="numbertext">@item.Description</div> *@
                <img src="@Url.Content(@item.File)" style="width:100%">
            </div>
            
            @* <div class="galleryI">
                <a target="_blank" href="@Url.Content(@item.File)">
                    <img src="@Url.Content(@item.File)" width="600px" height="500px">
                </a>
                <div class="galleryD">@item.Description</div>
            </div> *@
            @* <td id="detail-images"><img src="@Url.Content(@item.File)" width="200px" height="180px" /></td>
            <td>@item.Description</td> *@
        }
        
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="nexi" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>
            <div class="grow">
                @foreach (var item in Model.Images)
                {
                    <div class="column">
                    <img class="demo cursor" alt="@item.Description">
                    </div>
                 }
            </div>
        </div>
        </td>
        </table>




    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />

    <div id="map"></div>
    <script type="text/javascript" src="~/js/HikeInfo.js"></script>

    @* </dl> *@
</div>
<table class="table" id="todoTable">
    <thead>
        <tr>List of Signed Up Hikers</tr>
        <tr>
            <th>
                User Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hiker)
        {
            <tr class="trl">
                @* <td>
                    @Html.DisplayFor(modelItem => item.HikeId)
                    </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.HikeUser.UserName)
                </td>
            </tr>
        }
        <script src="~/js/Slider.js"></script>
    </tbody>
</table>

<div>
    <a asp-page="../Signup/Add" asp-route-id="@Model.Hike.HikeId">Sign Up for This Hike</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Hike.HikeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
