@page
@model Lab3.Pages_Hike.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form id="searchMenu">
    <div id=SearchMenuRight>
        Search Name:
        <input type="search" asp-for="SearchName" />
        @* Filter Price:
        <input type="checkbox" asp-for="filterPriceOn" checked="true" />
        Set Maximum Price:
        $<label id="spLabel1" class="spLabel">@Model.SearchPriceMax</label>
        <input type="range" oninput="document.getElementById('spLabel1').innerHTML=this.value;" step="1" max="300"
            asp-for="SearchPriceMax" />
        Set Minimum Price:
        $<label id="spLabel2" class="spLabel">@Model.SearchPriceMin</label>
        <input type="range" oninput="document.getElementById('spLabel2').innerHTML=this.value;" step="1" max="300"
            asp-for="SearchPriceMin" /> *@
    </div>
    <div id=SearchMenuLeft>
        @* <p>Search by Route Length:
        <select asp-for="LengthLevel">
            @foreach (var length in Enum.GetValues(typeof(RouteLengthLevel)))
            {
                <option value="@length">
                    @length
                </option>
            }
        </select>
        </p> *@
        <p>Search by Difficulty:
        <select asp-for="DifficultyLevel">
            @foreach (var difficulty in Enum.GetValues(typeof(RouteDifficultyLevel)))
            {
                <option value="@difficulty">
                    @difficulty
                </option>
            }
        </select>
        </p>
        <p>Search by Route Length:
        <select asp-for="LengthLevel">
            @foreach (var length in Enum.GetValues(typeof(RouteLengthLevel)))
            {
                <option value="@length">
                    @length
                </option>
            }
        </select>
        </p>
        @* Search by recomended age:
        <input type="number" asp-for="SearchAge" />
        <br> *@
        Enable filters
        <input type="checkbox" asp-for="filterOn" checked="true" />
        <br>
        <input class="srch" type="submit" title="Search" value="Search" >
        @* 3
        @Model.LengthLevel
        @Model.DifficultyLevel *@
        @* </p> *@
    </div>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" id="todoTable">
    <thead>
        <tr>
            <th>
                Hike Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hike[0].Name)
            </th>
            <th>
                Scheduled Date & Time
            </th>
             <th>
                Route Name
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hike) {
        <tr class="trl">
            <td>
                @Html.DisplayFor(modelItem => item.HikeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledTime)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HikeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HikeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HikeId">Delete</a>
            </td>
        </tr>
}
@* <p>@Model.Hike.ElementAt(0).ScheduledTime</p> *@
<div class="calendarContainer">
    <div id="calendar"></div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>
<script src="~/js/moment.js"></script>
<script src="~/js/Calendar.js"></script>


    </tbody>
</table>
