@page
@model Lab3.Pages_Hike.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>Hike Information</h1>
<form>
    @{
        var val = !@Model.filterShow;
    }
    <input type="hidden" asp-for="filterShow" value="@val" />
    <br>
    <input class="filt" type="submit" title="Filter" value="Filters">
</form>
<form>
    @{
        var cal = !@Model.calShow;
    }
    <input type="hidden" asp-for="calShow" value="@cal" />
    <br>
    <input class="filt" type="submit" title="Calendar" value="Show in Calendar View">
</form>

@if (Model.filterShow)
{
    <form id="searchMenu">
        <div id=SearchMenuRight>
            Search Name:
            <input type="search" asp-for="SearchName" />
        </div>
        <div id=SearchMenuLeft>
            <p>Search by Difficulty:
                <select asp-for="DifficultyLevel">
                    @foreach (var difficulty in Enum.GetValues(typeof(RouteDifficultyLevel)))
                    {
                        <option value="@difficulty">
                            @difficulty
                        </option>
                    }
                </select>
            </p>
            <p>Search by Route Length:
                <select asp-for="LengthLevel">
                    @foreach (var length in Enum.GetValues(typeof(RouteLengthLevel)))
                    {
                        <option value="@length">
                            @length
                        </option>
                    }
                </select>
            </p>
            Enable filters
            <input type="checkbox" asp-for="filterOn" checked="true" />
            <br>
            <input class="srch" type="submit" title="Search" value="Search">
        </div>
    </form>
}
<p>
    <a asp-page="Create">Create New</a>
</p>
<div id="hikeDiv"></div>
<div id="hikeCalendar">

    <table class="table" id="todoTable">

        <thead>
            <tr id=todotableItem>
                <th>
                    Hike Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hike[0].Name)
                </th>
                <th>
                    Scheduled Date & Time
                </th>
                <th>
                    Route Name
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Hike)
            {
                <tr class="trl" id="hikeHover">
                    <td>
                        @Html.DisplayFor(modelItem => item.HikeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledTime)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.HikeId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.HikeId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.HikeId">Delete</a>
                    </td>
                </tr>
            }
</div>
@* <div id="calendarBox"> *@
@if (Model.calShow)
{
    <div class="calendarContainer">
        <div id="calendar"></div>
    </div>
}
</div>
@* @if (Model.calShow)
    { *@
<div class="calendarContainer">
    <div id="calendar"></div>
</div>
@* } *@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.js"></script>
<script src="~/js/moment.js"></script>
<script src="~/js/Calendar.js"></script>


</tbody>
</table>
